body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.page-selector-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.page-selector-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.all-pages {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
  color: #1f2128;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.done-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #1f2128;
  background-color: #ffce22;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.done-button:active {
    background-color: #ffd84d;
}

.checkbox {
  width: 15px;
  height: 15px;
  border-radius: 6px;
}

/* input[type="checkbox"]::before {
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  transform: scale(0);  
  background-color: blue;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]:active {
  color: blue;
} */
